.collapsible__container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Change to flex-start */
  justify-content: flex-start; /* Change to flex-start */
  margin-top: 38px;
  margin-bottom: 38px;
  width: calc(50% - 10px);
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  cursor: pointer;
  padding: 18px;
  border-radius: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.collapsible.active,
.collapsible:hover {
  background-color: #ff6060;
}

.content {
  max-height: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  transition: max-height 0.3s ease-out;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  position: relative;
  top: -20px;
  z-index: -1;
}

.content.open {
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}
